/* src/components/Menu.css */

.menu-container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.menu-title {
  text-align: center;
  color: #212529;
  font-size: 3.5em;
  margin-bottom: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #ffc107;
  padding-bottom: 15px;
}

/* Estilos globais básicos para o body, você pode colocar isso no seu App.css também */
body {
  margin: 0;
  padding: 0;
  background-color: #e9ecef;
}